# By default, ignore everything
/*
*/

!.gitignore
!README.md

!site-lisp/
site-lisp/*

!/site-lisp/README.md

!custom/

!secrets/

!resources/
!/resources/**/

!/init.el
!/chaffin.org

!/docs/

!/snippets/
!/snippets/**/

!/patch/

!/straight/
!/straight/versions
/straight/*.el


